@import '../../global.scss';

.mainContainer{
    background-color: $Light;
    height: 70vh;
}
   
.logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4.3em;
  
    .logoutButton {
        background-color: $Dark;
        border: 1px solid $Dark;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0.6em;
        text-decoration: none;
        color: $Light;
        font-size: 1em;
        height: 2.5em;
        width: 4.5em;
        &:hover{
            background-color:rgb(94, 40, 80);
            border: 1px solid $Dark;
            color: $LightMenu;        
        }
    }
}

.reserva{
    color:$Dark;
}
  