@import '../../global.scss';

body {
    font-size: 0.80em!important;
}

.home {
    display: flex;
    flex-direction: column;
    // color: $primary-color;
    height: 70vh;
}
.contenedorCentral {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.collage {
    display: flex;
    background-image: url(../../images/foto_finca.jpg);
    background-position: right;
    background-size: cover;
    width: 55em;
    height: 34.2em;
    // margin-right: 3.5em;
    // margin-left: 1.5em;
}

.picker {
    display: flex;
    // justify-content: center;
    margin: 0;
    width: 32em;
    // text-align: justify;
    font-size: 1.5em;
    line-height: 1;
    // margin-right: auto;
}

.reservar {
    display: flex;
    justify-content: center;
    width: 12em;
    margin-top: 1em;
    text-align: center;
}

.titulo {
    font-size: 1.5em;
    color: $Dark;
    font-family: $font-stack; 
}