@import '../../global.scss';

.header{
    display:flex;
    justify-content: center;
    margin-top: 5em;
    height: 20em;
    background-color: $Dark;
    color: $Light;
  }
  
  .logo{
    background-image: url(../../images/vpLogo.png);
    background-size: cover;
    width: 20em;
    height: 20em;
  }
  