// Archivo principal Sass
// Variables
// Fuente, colores
$font-stack: 'Open Sans', sans-serif;
$primary-color: #333;
$Light: #faf8f5;;
$Dark: rgb(126,77,114);
$LightMenu:#cbbcb2;
//Modal Gallery
$black: #111;
$radius: 4px;
$transition: all .25s ease-in-out;

 